*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
}
.container{
    padding-inline: 15vw;

}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color:#fff;
    box-shadow: 0 0 0 1000px rgba(0,0,0,0.2),3px 0 5px rgba(0,0,0,0.2);
    animation: slideInLeft 0.3s ease forwards;
}
@import 'partials/navbar.css';
@import 'partials/animations.css';
.sidebar .sidebar-link{
    display: block;
    padding: .5em 1em;
    border-left: .4em solid transparent;
    margin-bottom: 1em;
    color: #0A0A0A;
    font-size: 1.1em;
    animation: slideInLeft 0.3s ease forwards;
    transform: translateX(-100%);
}
.sidebar .sidebar-link:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .sidebar .sidebar-link:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .sidebar .sidebar-link:nth-child(3) {
    animation-delay: 0.3s;
  }
.sidebar .sidebar-link.active:hover{
    border-left-color: rgb(255, 0, 86); 
    background-color: rgba(0,0,0,0.05);
}
.sidebar .sidebar-link svg{
    width: 1.2em;
    margin-right: .5em;
}

.main{
    padding-block: 3vw;
}
.section{
    display: flex;
    align-items: center;
}
.section .col{
    width: 50%;
}
.section .title{
    color: #0A0A0A;
    font-size: 3em;
    margin-bottom: .25em;
}
.section .info{
    color: #575757;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 1.25em;
}
.hero .gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.75 vw;
}
.custom-image{
    background-color: red;
    height: 0;
    width: 100%;
}
.btn{
    border: none;
    outline: none;
    background-color: rgb(255, 0, 86);
    color: #fff;
    padding: .75em 1em;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.btn:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
